<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if session.user}}
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Entrar</a></li>
            <li><a href="/register">Registrar</a></li>
            {{/if}}
        </ul>
    </header>
    {{{body}}}
</body>
</html>